unsloth[colab-new] @ git+https://github.com/ChantalMP/unsloth.git
dask==2024.8.1
numpy==1.26.4
scikit-learn==1.5.2
pandas==2.2.2
Cython==3.0.11
wandb==0.17.5
transformers==4.43.3
datasets==2.20.0
trl==0.9.4
wandb
nltk
scikit-learn==1.5.2
tqdm
accelerate==0.33.0
bitsandbytes==0.43.2
peft==0.12.0
scipy==1.13.0